@page "/counter"

@inject NavigationManager NavigationManager

<button class="btn btn-primary" @onclick="RedirectToLogin">Login</button>
<button class="btn btn-primary" @onclick="RedirectToRegister">Register</button>

@code {
    private void RedirectToLogin()
    {
        NavigationManager.NavigateTo("/LoginPage");
    }

    private void RedirectToRegister()
    {
        NavigationManager.NavigateTo("/RegisterPage");
    }
}

