@page "/"
@using Microsoft.EntityFrameworkCore
@using Database
@using Database.Models

@implements IDisposable
@inject IDbContextFactory<PartyGameContext> DbFactory

<form class="row g-3">
    <div class="col-auto">
        <label for="staticEmail2" class="visually-hidden">Username</label>
    </div>
    <div class="col-auto">
        <input type="text" class="form-control" id="Username" placeholder=@(new UniqGenerator().GenerateUsername())>
    </div>
    <div class="col-auto">

        <form method="get" action="/LoobyPage">
            <button type="submit" class="btn btn-primary mb-3">PlayAsGuest</button>
        </form>
        
    </div>
</form>


@code
{
    IList<User> _users;
    PartyGameContext _context;

    protected override async Task OnInitializedAsync()
    {
        _context = DbFactory.CreateDbContext();
        _users = await _context.Users.ToListAsync();
        await base.OnInitializedAsync();
    }

    public void Dispose()
    {
        _context.Dispose();
    }
}
