@page "/LoginPage"

<form class="row g-3">
    <div class="col-auto">
        <label for="email">Enter email:</label>
    </div>
    <div class="col-auto">
        <input type="text" class="form-control">
    </div>
    <div class="col-auto">
        <label for="email">Enter password:</label>
    </div>
    <div class="col-auto">
        <input type="text" class="form-control">
    </div>
    <div class="col-auto">
        <button type="submit" class="btn btn-primary mb-3">Login</button>
    </div>
</form>

@code {

}
