@page "/RegisterPage"
@using Database.Models
@using Database
@using Database.Repositories
@using Microsoft.EntityFrameworkCore
@inject IDbContextFactory<PartyGameContext> DbFactory

<div class="container">
    <EditForm Model="@user" OnSubmit="@FormSubmit">
        <div class="col-6">
            <label for="user">Enter username:</label>
        </div>
        <div class="col-6">
            <InputText @bind-Value="user.Username" type="text" class="form-control" />
        </div>
        <div class="col-6">
            <label for="email">Enter email:</label>
        </div>
        <div class="col-6">
            <InputText @bind-Value="user.Email" type="text" class="form-control" />
        </div>
        <div class="col-6">
            <label for="password">Enter password:</label>
        </div>
        <div class="col-6">
            <input @bind="@Pass" type="password" class="form-control" />
        </div>
        <div class="col-6">
            <label for="confirm">Confirm password:</label>
        </div>
        <div class="col-6">
            <input @bind="@Conf" for="password" type="password" class="form-control" />
        </div>
        <div class="col-6">
            <button type="submit" class="btn btn-primary mb-3">Register</button>
        </div>
    </EditForm>
</div>

@code {
    private User user = new User();
    private string Pass { get; set; }
    private string Conf { get; set; }

    private async void FormSubmit()
    {
        if (!string.Equals(Pass, Conf, StringComparison.Ordinal)
            || string.IsNullOrEmpty(Pass)
            || string.IsNullOrEmpty(Conf)
            || string.IsNullOrEmpty(user.Email)
            || string .IsNullOrEmpty(user.Username))
        {
            CleanFields();
            return;
        }

        var hash = HashInfrastructure.Hash(Pass);
        var repository = new UserRepository(DbFactory.CreateDbContext());
        user.Hash = hash;
        //user.Id = 0;
        await repository.AddAsync(user);
        await repository.SaveAsync();
        CleanFields();
    }

    private void CleanFields()
    {
        Pass = Conf = "";
        user = new User();
    }
}
