@page "/StatusPage"

<div class="container">
    <div class="row justify-content-md-center">
        <img src="https://icons-for-free.com/iconfiles/png/512/human+male+profile+user+icon-1320196240448793481.png" style="width:100px; height:100px">
    </div>
    <div class="row justify-content-md-center">
        <div class="col-md-auto">
            <p class="font-weight-bold">Vartotojo Vardas</p>
        </div>
    </div>
    <div class="row justify-content-md-center" style="margin-bottom:50px">
        <div class="col-md-auto">
            <p class="font-weight-light">Vartotojas užsiregistravo:</p>
        </div>
    </div>
    <div class="row align-items-center">
        <div class="col">
            Games Played:
        </div>
        <div class="col">
            Games Won:
        </div>
        <div class="col">
            Winning percentage:
        </div>
    </div>
    <div class="row align-items-end">
        <div class="col">
            AVG. Game score:
        </div>
        <div class="col">
            Best Game:
        </div>
        <div class="col">
            Best Round:
        </div>
    </div>
</div>

@code {

}
